### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data_df ['SN'].nunique()
total_players_df = pd.DataFrame({'Total Players': [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
Average_price = purchase_data_df['Price'].mean()
Average_price

3.050987179487176

In [10]:
number_of_purchases = purchase_data_df['Purchase ID'].nunique()
number_of_purchases

780

In [11]:
number_of_unique_item = purchase_data_df['Item Name'].nunique()
number_of_unique_item

179

In [12]:
total_revenue = purchase_data_df['Price'].sum()
total_revenue

2379.77

In [13]:
summary_data = pd.DataFrame({'Average_price' : [Average_price],
                      'Item Name' : [number_of_unique_item],
                      'Purchase ID': [number_of_purchases],
                      'Price' : [total_revenue]})
summary_data

   Average_price  Item Name  Purchase ID    Price
0       3.050987        179          780  2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [15]:
player_demographics = purchase_data_df.loc[:, ['Gender', 'SN', 'Age']]
player_demographics.head()

  Gender             SN  Age
0   Male        Lisim78   20
1   Male    Lisovynya38   40
2   Male     Ithergue48   24
3   Male  Chamassasya86   24
4   Male      Iskosia90   23

In [18]:
gender_df = purchase_data_df.groupby(['Gender'])
gender_df.head(1)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89

In [19]:
total_count = gender_df.nunique()['SN']
total_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [22]:
percentage_of_players = (total_count / total_count.sum()) * 100
percentage_of_players

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [23]:
gender_summary = ({'Total Count' : total_count, 'Percentage of players' : percentage_of_players})
gender_summary_df = pd.DataFrame(gender_summary, index = ['Male', 'Female', 'Other / Non-disclosed'])
gender_summary_df['Percentage of players'] = gender_summary_df['Percentage of players'].map('{:.2f}%'.format)
gender_summary_df

                       Total Count Percentage of players
Male                         484.0                84.03%
Female                        81.0                14.06%
Other / Non-disclosed          NaN                  nan%


## Purchasing Analysis (Gender)

In [25]:
purchase_count = purchase_data_df.groupby(['Gender']).count()['Price']
average_purchase_price = purchase_data_df.groupby(['Gender']).mean()['Price']
total_purchase_value = purchase_data_df.groupby(['Gender']).sum()['Price']

gender_summary_data = pd.DataFrame({'Purchase count' : purchase_count, 
                                   'Average purchase price' : average_purchase_price.map('${:.2f}'.format),
                                   'Total purchase value' : total_purchase_value.map('${:.2f}'.format)})

gender_summary_data

,Purchase count,Average purchase price,Total purchase value
Gender,,,
Female,113,$3.20,$361.94
Male,652,$3.02,$1967.64
Other / Non-Disclosed,15,$3.35,$50.19

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [27]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]

purchase_data_df['Age ranges'] = pd.cut(purchase_data_df['Age'], age_bins, labels=group_names)

age_demographics_totals = purchase_data_df.groupby(['Age ranges']).nunique()['SN']
age_demographics_percents = age_demographics_totals / purchase_data_df['SN'].nunique() * 100

age_demographics = pd.DataFrame({'Total count': age_demographics_totals, 'Percent of players': age_demographics_percents})
age_demographics = age_demographics.sort_index()
age_demographics

            Total count  Percent of players
Age ranges
<10                  17            2.951389
10-14                22            3.819444
15-19               107           18.576389
20-24               258           44.791667
25-29                77           13.368056
30-34                52            9.027778
35-39                31            5.381944
>40                  12            2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]

player_demographics['Age ranges'] = pd.cut(player_demographics['Age'], age_bins, labels=group_names)
player_demographics.head()

  Gender             SN  Age Age ranges
0   Male        Lisim78   20      20-24
1   Male    Lisovynya38   40        >40
2   Male     Ithergue48   24      20-24
3   Male  Chamassasya86   24      20-24
4   Male      Iskosia90   23      20-24

In [30]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]

purchase_data_df['Age ranges'] = pd.cut(purchase_data_df['Age'], age_bins, labels=group_names)

purchase_count = purchase_data_df.groupby(['Age ranges']).count()['Price']
avgerage_purchase = purchase_data_df.groupby(['Age ranges']).mean()['Price']
total_purchase = purchase_data_df.groupby(['Age ranges']).sum()['Price']
avgerage_purchase_per_person = total_purchase / purchase_data_df.groupby(['Age ranges']).nunique()['SN']


purchase_age_analysis = pd.DataFrame({'Purchase count': purchase_count, 
                               "Average purchase price": avgerage_purchase.map("${:.2f}".format),
                              "Total purchase value": total_purchase.map("${:.2f}".format),
                              "Avg total purchase per Person": avgerage_purchase_per_person.map("${:.2f}".format)})

purchase_age_analysis = purchase_age_analysis.sort_index()
purchase_age_analysis

,Purchase count,Average purchase price,Total purchase value,Avg total purchase per Person
Age ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
>40,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
user_count = purchase_data_df.groupby(['SN']).count()['Price']
user_total = purchase_data_df.groupby(['SN']).sum()['Price']
user_average = purchase_data_df.groupby(['SN']).mean()['Price']

user_data = pd.DataFrame({'Purchase Count': user_count,
                          'Total Purchase Amount': user_total,
                          'Average Purchase Price': user_average})

user_data.sort_values('Total Purchase Amount', ascending=False).head()

             Purchase Count  Total Purchase Amount  Average Purchase Price
SN
Lisosia93                 5                  18.96                3.792000
Idastidru52               4                  15.45                3.862500
Chamjask73                3                  13.83                4.610000
Iral74                    4                  13.62                3.405000
Iskadarya95               3                  13.10                4.366667

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [32]:
average_items_df = purchase_data_df.groupby(['Item ID', 'Item Name','Price'])['Price'].agg(['count','sum'])
average_items_df.columns = ['Purchase Count', 'Total Purchase Value']

average_items_df.reset_index(inplace=True)
average_items_df.set_index(['Item ID','Item Name'] ,inplace=True)

average_items_df = average_items_df[['Purchase Count', 'Price', 'Total Purchase Value']]

popular_items_df = average_items_df.sort_values(by='Purchase Count', ascending=False)

popular_items_df['Price'] = popular_items_df['Price'].map('${:,.2f}'.format)
popular_items_df['Total Purchase Value'] = popular_items_df['Total Purchase Value'].map('${:,.2f}'.format)

popular_items_df.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
145,Fiery Glass Crusader,9,$4.58,$41.22
82,Nirvana,9,$4.90,$44.10
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [33]:
profitable_items_df = average_items_df.sort_values(by='Total Purchase Value', ascending=False)

profitable_items_df['Price'] = profitable_items_df['Price'].map('${:,.2f}'.format)
profitable_items_df['Total Purchase Value'] = profitable_items_df['Total Purchase Value'].map('${:,.2f}'.format)

profitable_items_df.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80